@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primaryGreen: #4CAF50;
    --secondaryGreen: #66BB6A;
    --lightGray: #CACACA;
    --darkText: #2E2E2E;
    --accentOrange: #FFB74D;
    --accentBlue: #4FC3F7;
}

body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: (230, 230, 230);
}

div, label {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
}

aside, a {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: var(--primaryGreen);
    text-decoration: underline var(--primaryGreen);
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 60px;
    color: var(--darkText);
}

h2, h3 {
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: var(--darkText);
}

#section {
    margin-top: 40px;
}

#pacifico {
    font-family: 'Pacifico', cursive;
    color: var(--darkText);
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: var(--darkText);
}